.App {
  text-align: center;

}
.hautPage{
  display: flex;
  justify-content: space-between;
  margin: 80px;
}

.logoSimplon {
    width: 30%;
    height: 60%;
}
.App-logo {
    width: 20%;
    height: 100%;
}
.titres{
  display:flex;
  flex-direction: column;
  h1, h2{
    text-align: center;
    color: red;
    font-family: Times, Times New Roman, serif;
 }
 h1{
  font-size:40px;
  }
  h2{
  font-size: 20px;
  }
}


.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
