body {
  margin: 0;
  padding: 0;
  font-family: Times, Times New Roman, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


code {
  font-family: Times, Times New Roman, serif;
}
